*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
td {
    border: 1px solid black;
}
thead{
    font-weight: bold;
    background-color: cadetblue;
        
}
td:hover{
    border-color: chartreuse;
}